.notification {
  @extend %fRowS;
  justify-content: space-between;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-shadow);
  position: fixed;
  bottom: 3.5rem;
  left: 2rem;
  background: var(--low-opacity-primary-container);
  font-size: 0.75rem;
  font-weight: 500;
  max-width: 20rem;
  min-width: 15rem;
  padding: 1rem;
  z-index: 10000;
  button {
    margin-left: 1rem;
    font-size: 0.875rem;
  }
}
