.dashboard {
  .panels-group {
    flex-wrap: wrap;
  }
  .widgets,
  .panels-group {
    @extend %f;
  }
  .widgets,
  .panels,
  .panels-group {
    gap: 1.125rem;
  }
  .panels {
    @extend %fCol;
  }
  .word-box {
    @extend %fCenterV;
    .word {
      font-size: 4rem;
      margin: 1.25rem 0;
    }
  }
  .add-word {
    @extend %fCol;
  }
  .words-group {
    @extend %fWrapper;
    gap: 0.5rem;
    margin: 0;
    .name {
      background: var(--primary-gradient);
      padding: 0.25rem 1.5rem;
      color: var(--on-primary);
      border-radius: 5rem;
    }
  }
}
