%transition {
  transition: var(--main-transition);
}

%bold {
  font-weight: bold;
}

%textCliper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%z1 {
  position: relative;
  z-index: 1;
}

%sectionPadding {
  padding: {
    top: var(--main-padding-top);
    bottom: var(--main-padding-bottom);
  }
  @include in(toSmall) {
    padding: {
      top: 2rem;
      bottom: 2rem;
    }
  }
}

%oneColG {
  @include oneColG;
}

%twoColG {
  @include twoColG;
}

%f {
  @include f;
}

%fRow {
  @include fRow;
}

%fRowSY {
  @include fRowY(flex-start);
}

%fRowCY {
  @include fRowY(center);
}

%fRowEY {
  @include fRowY(flex-end);
}

%fRowSX {
  @include fRowX(flex-start);
}

%fRowCX {
  @include fRowX(center);
}

%fRowEX {
  @include fRowX(flex-end);
}

%fRowS {
  @extend %fRowSY;
}

%fRowC {
  @extend %fRowCY;
}

%fRowE {
  @extend %fRowEY;
}

%fCol {
  @include fCol;
}

%fColSX {
  @include fColX(flex-start);
}

%fColCX {
  @include fColX(center);
}

%fColEX {
  @include fColX(flex-end);
}

%fColSY {
  @include fColY(flex-start);
}

%fColCY {
  @include fColY(center);
}

%fColEY {
  @include fColY(flex-end);
}

%fColS {
  @extend %fColSX;
}

%fColC {
  @extend %fColCX;
}

%fColE {
  @extend %fColEX;
}

%hPCenter {
  @include hPCenter;
}

%vPCenter {
  @include vPCenter;
}

%fCenter {
  @include fCenter;
}

%fCenterV {
  @include fCenter(center, center, column);
}

%fCenterH {
  @include fCenter(center, center, row);
}

%fCenterS {
  @include fCenter(center, flex-start);
}

%fCenterE {
  @include fCenter(center, flex-end);
}

%aCenter {
  @include aCenter;
}

%fSpacerXC,
%fSpacerC {
  @include fSpacer;
}
%fSpacerYC {
  @include fSpacer(column);
}

%fSpacerX,
%fSpacer {
  @include fSpacer(row, false);
}
%fSpacerY {
  @include fSpacer(column, false);
}

%fWrapper {
  @include fWrapper;
}

%fWrapperH {
  @include fWrapper(row);
}

%fWrapperV {
  @include fWrapper(column);
}

%aRest {
  @include aRest;
}

%ulRest {
  @include ulRest;
}

%buttonRest {
  @include buttonRest;
}

%textareaRest {
  @include textareaRest;
}

%overlay {
  @include overlay;
}

// %mainBoxShadow {
//   box-shadow: 0 0.125rem 1rem 0 rgba($headingsColor, 0.1);
// }

%dotedBackground {
  position: absolute;
  z-index: 0;
  &:first-of-type {
    transform: translateY(100%);
    top: 0;
    right: 0;
  }
  &:last-of-type {
    transform: translateY(-100%);
    bottom: 0;
    left: 0;
  }
}

// %boxCard {
//   position: absolute;
//   @extend %vPCenter;
//   // background-color: rgba($altBackgroundColor, 0.7);
//   padding: 3rem;
//   display: flex;
//   justify-content: flex-end;
//   z-index: 1;
//   @include in(toSmall) {
//     width: 100% !important;
//     justify-content: center;
//   }
// }

%spikesTop {
  @include spikes(var(--background-color), 2rem);
}

%spikesBottom {
  @include spikes(var(--background-color), 2rem, 100%, bottom);
}
