// mixin oneColG is mixin for control responsive of items in columns with screens

@mixin oneColG($gap: 0rem) {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gap;
}

// mixin twoColG is mixin for control responsive of items in columns with screens

@mixin twoColG($gap: 0rem) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap;
}

// mixin responGridCol is mixin for control responsive of items in columns with screens

@mixin responGridCol($min: 17rem, $gap: 1.5rem) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min, 1fr));
  gap: $gap;
}
