// mixin ulRest is mixin for rest the un order list

@mixin ulRest {
  list-style: none;
  padding: 0;
}

// mixin buttonRest is mixin for rest the button

@mixin buttonRest($fFamily: inherit, $color: inherit) {
  padding: 0;
  border: none;
  font-family: $fFamily;
  color: $color;
  background-color: transparent;
}

// mixin aRest is mixin for rest the ankurlink

@mixin aRest($color: inherit) {
  text-decoration: none;
  color: $color;
}

// mixin textareaRest is mixin for rest the textarea

@mixin textareaRest($fFamily: inherit, $fSize: inherit, $color: inherit) {
  margin: 0;
  font-family: $fFamily;
  font-size: $fSize;
  color: $color;
  line-height: inherit;
}

// mixin maCoReset is mixin for reset container width in all screens

@mixin maCoReset {
  @include in(small) {
    width: 100%;
  }
  @include in(medium) {
    width: 100%;
  }
  @include in(large) {
    width: 100%;
  }
}
