// genral colors

$white: #ffffff;
$black: #000000;
$primarySeed: #55acdd;

// main theme primary gradient color

$TuTiPrimary0: #000000;
$TuTiPrimary10: #05131a;
$TuTiPrimary20: #0f364b;
$TuTiPrimary30: #19587c;
$TuTiPrimary40: #237bad;
$TuTiPrimary50: $primarySeed;
$TuTiPrimary60: #76bce4;
$TuTiPrimary70: #96ccea;
$TuTiPrimary80: #b7dcf1;
$TuTiPrimary90: #d8ecf7;
$TuTiPrimary95: #ebf8ff;
$TuTiPrimary100: #ffffff;

// related primary

// surfaces gradient

$mainSurface: linear-gradient(
  135deg,
  #e6e9ff -50%,
  #f5f7ff 25%,
  #f2f5ff 90%,
  #e0e7ff 170%
);
// site gradients

$mainGradient: linear-gradient(0deg, rgba($TuTiPrimary20, 0.2), rgba($TuTiPrimary20, 0.2)),
  radial-gradient(50% 50% at 50% 50%, $TuTiPrimary40 0%, $TuTiPrimary20 100%);

$primaryGradient: linear-gradient(
    0deg,
    rgba($TuTiPrimary10, 0.4),
    rgba($TuTiPrimary10, 0.4)
  ),
  linear-gradient(
    115deg,
    rgba($TuTiPrimary40, 0.7) -5%,
    rgba($TuTiPrimary30, 0.7) 40%,
    rgba($TuTiPrimary20, 0.7) 70%,
    rgba($TuTiPrimary10, 0.7) 130%
  ),
  rgba($TuTiPrimary20, 1);
$primaryGradientBlendMode: normal, normal, multiply;

// light surface
$LightSurface: #fffbfd;
$LightOnSurface: #1b1b1d;

$LightSurfaceTint: $TuTiPrimary40;

$LightInverseOnSurface: #f3f0f2;
$LightInverseSurface: #303032;

// dark suraface
$DarkSurface: #1b1b1d;
$DarkOnSurface: #e4e2e4;

$DarkInverseOnSurface: #303032;
$DarkInverseSurface: #e4e2e4;

$DarkSurfaceTint: $TuTiPrimary80;

// error colors

// error light
$LightError: #ba1a1a;
$LightOnError: #ffffff;
$LightErrorContainer: #ffdad6;
$LightOnErrorContainer: #410002;

// error dark
$DarkError: #ffb4ab;
$DarkOnError: #690005;
$DarkOnErrorContainer: #ffb4ab;
$DarkErrorContainer: #93000a;
