.navbar {
  @extend %f;
  min-height: var(--header-height);
  font-size: 0.875em;
  position: sticky;
  top: 0;
  z-index: 10000000;
  // box-shadow: var(--main-shadow);
  .wrapper {
    @extend %fSpacerC;
    flex: 1;
    gap: 1.5rem;
    .theme,
    .search,
    h4 {
      min-width: max-content;
    }
  }
}
