.single-word {
  .word-container {
    @extend %fSpacer;
    gap: 1.5rem;
  }
  .info-group {
    @extend %fSpacerXC;
    flex-wrap: wrap;
    gap: 0.875rem;
    font-size: 0.875rem;
    select {
      border: none;
      background: var(--surface);
      padding: 0.5rem;
    }
    .sentence {
      width: 100%;
      font-size: 0.75rem;
      &.editable {
        border-bottom: 0.0625rem solid;
      }
    }
    .sentence-group {
      @extend %f;
      gap: 1rem;
      width: 100%;
      height: max-content;
    }
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h3,
    p {
      margin: 0;
    }
  }
  .button.icon {
    font-size: 1rem;
    padding: 1rem;
  }
  .button.save {
    margin: 1rem 0px 0 auto;
    padding: 1rem;
  }
}
