@use "./assets/styles/sass/TuTiHelper" as *;

html {
  scroll-behavior: smooth;
}

:root {
  /* --------------- light colors set ----------------- */
  --surface-light: #{$primary95};

  --light-primary: #{$lightPrimary};
  --light-on-primary: #{$lightOnPrimary};
  --light-inverse-primary: #{$lightInversePrimary};
  --light-primary-container: #{$lightPrimaryContainer};
  --light-on-primary-container: #{$lightOnPrimaryContainer};
  --light-low-opacity-primary-container: #e5f6ffc9;

  /* --------------- dark colors set ----------------- */
  --surface-dark: #{$primary10};

  --dark-primary: #{$darkPrimary};
  --dark-on-primary: #{$darkOnPrimary};
  --dark-inverse-primary: #{$darkInversePrimary};
  --dark-primary-container: #{$darkPrimaryContainer};
  --dark-on-primary-container: #{$darkOnPrimaryContainer};
  --dark-low-opacity-primary-container: #0c1d26d6;

  /* --------------- geanral var set ----------------- */
  --primary-gradient: linear-gradient(to right, #55acdd, #00d9d3);

  --main-transition: #{$mainTransition};

  --main-border-color: var(--dark-primary);

  --main-border-radius: 0.625rem;

  --dark-shadow: 0 0.875rem 1.875rem #{rgba($primary10, 0.2)},
    0 0.625rem 0.625rem #{rgba($primary10, 0.2)};
  --light-shadow: 0 0.875rem 1.875rem #{rgba($primary50, 0.2)},
    0 0.625rem 0.625rem #{rgba($primary50, 0.2)};

  --header-height: 5rem;
  --sidebar-width: 4.35rem;
  --main-padding-top: 2rem;
  --main-padding-bottom: 2rem;
  @media (max-width: 320px) {
    font-size: 11px;
  }
  @include in(toSmall) {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: light) {
  .app {
    --primary: var(--light-primary);
    --on-primary: var(--light-on-primary);
    --inverse-primary: var(--light-inverse-primary);
    --primary-container: var(--light-primary-container);
    --on-primary-container: var(--light-on-primary-container);
    --low-opacity-primary-container: var(--light-low-opacity-primary-container);

    --surface: var(--surface-light);

    --border-color: var(--border-color-light);
    --border-color-inverse: var(--border-color-dark);

    --main-shadow: var(--light-shadow);
    --scheme-color: light;
    &.toggleMode {
      --primary: var(--dark-primary);
      --on-primary: var(--dark-on-primary);
      --inverse-primary: var(--dark-inverse-primary);
      --primary-container: var(--dark-primary-container);
      --on-primary-container: var(--dark-on-primary-container);
      --low-opacity-primary-container: var(--dark-low-opacity-primary-container);

      --surface: var(--surface-dark);

      --border-color: var(--border-color-dark);
      --border-color-inverse: var(--border-color-light);

      --main-shadow: var(--dark-shadow);
      --scheme-color: dark;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .app {
    --primary: var(--dark-primary);
    --on-primary: var(--dark-on-primary);
    --inverse-primary: var(--dark-inverse-primary);
    --primary-container: var(--dark-primary-container);
    --on-primary-container: var(--dark-on-primary-container);
    --low-opacity-primary-container: var(--dark-low-opacity-primary-container);

    --surface: var(--surface-dark);

    --border-color: var(--border-color-dark);
    --border-color-inverse: var(--border-color-light);

    --main-shadow: var(--dark-shadow);
    --scheme-color: dark;
    &.toggleMode {
      --primary: var(--light-primary);
      --on-primary: var(--light-on-primary);
      --inverse-primary: var(--light-inverse-primary);
      --primary-container: var(--light-primary-container);
      --on-primary-container: var(--light-on-primary-container);
      --low-opacity-primary-container: var(--light-low-opacity-primary-container);

      --surface: var(--surface-light);

      --border-color: var(--border-color-light);
      --border-color-inverse: var(--border-color-dark);

      --main-shadow: var(--light-shadow);
      --scheme-color: light;
    }
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  line-height: 1.2;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100svh;
}

.container {
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: 1rem;
    right: 1rem;
  }
  @include madiaContainer;
}

.app {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  width: 100svw;
  max-width: 100%;
  color-scheme: var(--scheme-color);
  background: var(--surface);
  color: var(--on-primary-container);
}

@import "./components/notification/notification";
@import "./components/navbar/navbar";
@import "./components/sidebar/sidebar";
@import "./components/widget/widget";
@import "./components/search/search";
@import "./components/table/table";
@import "./components/layouts/layout";
@import "./components/word/word";
@import "./pages/home/home";
@import "./pages/dashboard/dashboard";
@import "./pages/words/list/listWords";
@import "./pages/words/single/singleWord";
@import "./pages/profile/profile";
@import "./pages/errors/errors";
